@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
body{
    background-color: #eeeeee;
}
P{
    text-align: justify;
}

.MuiInputBase-input, .MuiFilledInput-input, .MuiInputBase-inputMultiline, .css-7209ej-MuiInputBase-input-MuiFilledInput-input  {
    background-color: white;
  }
  .MuiInputBase-input:hover, .MuiFilledInput-input:hover, .MuiInputBase-inputMultiline:hover, .css-7209ej-MuiInputBase-input-MuiFilledInput-input:hover  {
    background-color: white;
  }


  
  
  
